{{ if ne .Site.Params.hideFooter true }}
<footer><div id="nav-border" class="container">
    <nav id="nav" class="nav justify-content-center">
    {{ $showActiveNav := .Site.Params.showActiveNav }}
    {{ $currentPage := . }}
    {{ range .Site.Menus.social }}
      {{ $active := "" }}
      {{ if eq $showActiveNav true }}
        {{ $isMenu := or ($currentPage.IsMenuCurrent "nav" .) ($currentPage.HasMenuCurrent "nav" .) }}
        {{ $isMenu = or $isMenu (eq $currentPage.Title .Name) }}
        {{ $isMenu = or $isMenu (and (eq .Name "Blog") (eq $currentPage.Section "post")) }}
        {{ $isMenu = or $isMenu (and (eq .Name "Tags") (eq $currentPage.Section "tags")) }}
        {{ if $isMenu }} 
          {{ $active = "nav-link-active" }}
        {{ end }}  
      {{ end }}  
      {{ $icon := printf "<i data-feather=\"%s\"></i>" .Pre }}
      {{ $text := $icon | safeHTML }}
      <a class="nav-link {{ $active }}" href="{{ .URL }}">{{ $text }}</a>
    {{ end }}
    </nav>
  </div>
<attribution id="footer" class="mt-auto text-center text-muted">
  <div class="container">
    {{ .Site.Params.footerText | markdownify }}
  </div>
  <!-- Load PhotoSwipe js if the load-photoswipe shortcode has been used -->
{{ if ($.Scratch.Get "photoswipeloaded") }}
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="/js/load-photoswipe.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js" integrity="sha256-UplRCs9v4KXVJvVY+p+RSo5Q4ilAUXh7kpjyIP5odyc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js" integrity="sha256-PWHOlUzc96pMc8ThwRIXPn8yH4NOLu42RQ0b9SpnpFk=" crossorigin="anonymous"></script>
{{ end }}
</attribution></footer>
{{ end }}