<div id="nav-border" class="container">
  <nav id="nav" class="nav justify-content-center">
  {{ $showActiveNav := .Site.Params.showActiveNav }}
  {{ $currentPage := . }}
  {{ range .Site.Menus.nav }}
    {{ $active := "" }}
    {{ if eq $showActiveNav true }}
      {{ $isMenu := or ($currentPage.IsMenuCurrent "nav" .) ($currentPage.HasMenuCurrent "nav" .) }}
      {{ $isMenu = or $isMenu (eq $currentPage.Title .Name) }}
      {{ $isMenu = or $isMenu (and (eq .Name "Blog") (eq $currentPage.Section "post")) }}
      {{ $isMenu = or $isMenu (and (eq .Name "Tags") (eq $currentPage.Section "tags")) }}
      {{ if $isMenu }} 
        {{ $active = "nav-link-active" }}
      {{ end }}  
    {{ end }}  
    {{ $icon := printf "<i data-feather=\"%s\"></i>" .Pre }}
    {{ $text := $icon | safeHTML }}
    <a class="nav-link {{ $active }}" href="{{ .URL }}">{{ $text }}</a>
  {{ end }}
  </nav>
</div>